<header th:fragment='fragment-stdHeader'>
    <div id="std-menu">
        <ul>
            <li>
                <a href="/std/volume/mod">volume</a>
            </li>
            <li>
                <a href="/std/buyin/mod">winning buyin</a>
            </li>
            <li>

                <a href="/std/reward/mod">winning reward</a>
            </li>
            <li>
                <a href="/std/aging/mod">aging</a>
            </li>
            <li>
                <a href="/std/tier/mod">tier</a>
            </li>
        </ul>
    </div>
</header>
