<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>chpi</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/img/title.jpg">
    <link rel="import" href="../common/header.html">
    <link rel='stylesheet' href='/css/common/header.css' type='text/css'/>
    <link rel='stylesheet' href='/css/news.css' type='text/css'/>
    <link rel='stylesheet' href='/css/common/common.css' type='text/css'/>

    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>
    <script>
        window.onload = function () {
            let content = document.querySelector('.p-content');
            content.innerHTML = document.getElementById('existingContent').value;
        }
    </script>

</head>
<body>

<header th:replace='common/header.html :: fragment-header'></header>

<section class="wrapper long-long-box">
    <div class="div-flex">
        <div id="news-view">
            <div class="news-subject">
                <p class="p-subject" th:text="${news.subject}"></p>
            </div>

            <div class="news-content">
                <input type='hidden' id="existingContent" name='existingContent' th:value='${news.content}'/>
                <p class="p-content"></p>
                <p class="dataInfo" th:text="${#temporals.format(news.regDttm, 'yyyy-MM-dd HH:mm:ss')}"></p>
            </div>
        </div>
    </div>

</section>

</body>

</html>
