.div-flex {
    justify-content: space-around;
}
.home-ranking {
    font-size: 0.8em;
}

@media screen and (max-width: 1440px) {
    .home-ranking {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 768px) {
    .div-offline, .div-online {
        display: none;
    }
    .home-ranking {
        font-size: 1em;
    }
}