<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>chpi</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/img/title.jpg">
    <link rel="import" href="../common/header.html">
    <link rel='stylesheet' href='/css/common/header.css' type='text/css'/>
    <link rel='stylesheet' href='/css/std.css' type='text/css'/>
    <link rel='stylesheet' href='/css/common/common.css' type='text/css'/>

    <script src="/js/std.js"></script>
    <script src="/js/common/common.js"></script>
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>
    <script>
        window.onload = function () {
            let table = document.querySelector('.tbl-rate');
            let rowCount = table.rows.length; // 현재 테이블의 행 수  + 1

            let row_add = document.querySelector('.row-add');
            row_add.addEventListener('click', function () {
                addTierRow( ++rowCount );
            });
            let row_del = document.querySelectorAll('.row-del');
            row_del.forEach(function (btn) {
                btn.addEventListener('click', delRow);
            });

            let file_add = document.querySelectorAll('.file-add');
            file_add.forEach(function (btn) {
                btn.addEventListener('change', function (evt) {
                    previewImg(evt);
                });
            });

            let file_del = document.querySelectorAll('.file-del');
            file_del.forEach(function (btn) {
                btn.addEventListener('click', function (evt) {
                    baseImg( evt.target.previousElementSibling.querySelector('.file-add'), "" );
                });
            });


            let form = document.querySelector('#f-std');
            form.addEventListener('submit', apply);
        }

        function apply(evt) {
            evt.preventDefault();
            let data = new FormData( document.getElementById( 'f-std' ) );
            let xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if ( xhr.readyState === XMLHttpRequest.DONE ) {
                    if ( xhr.status === 200 ) {
                        alert( xhr.responseText );
                        location.reload();
                    }
                    else if( xhr.status === 400 ) {
                        alert( xhr.responseText );
                    }
                }
            };

            let dataArray = [];
            let obj = {};

            for (let [key, value] of data.entries()) {
                if(key === 'formFile') {
                    obj['fileStatus'] = "";
                }
                else {
                    obj[key] = value;
                }

                if (Object.keys(obj).length === 5) {
                    dataArray.push(obj);
                    obj = {};
                }
            }

            xhr.open('POST', this.action, true);

            let formData = new FormData();
            let fileInputs = document.querySelectorAll('.file-add');

            for (let index = 0; index < fileInputs.length; index++) {
                if(!!fileInputs[index].files[0]) {
                    formData.append('formFile', fileInputs[index].files[0]);
                    dataArray[index]['fileStatus'] = "add";
                }
            }

            formData.append('vo', new Blob([JSON.stringify(dataArray)], {type: 'application/json'}));
            xhr.send(formData);
        }




    </script>

</head>
<body>

<header th:replace='common/header.html :: fragment-header'></header>

<section class="wrapper long-box">

    <div th:replace="common/stdHeader.html :: fragment-stdHeader">

    </div>

    <div class="std-form">

        <p class='formula'> {등급} = {제외 기준 점수} 미만인 유저를 제외한 {상위 비율}에 따른 기준 </p>

        <form action='mod/p' class='io-form' id='f-std' method='post'>
            <div class="tbl-scroll">
                <fieldset>
                    <legend>제외점수 기준</legend>
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                <input class="io" name="tier" th:value="${typeS.tier}" required/>
                            </td>
                            <td>
                                <input class="io" name="weight" th:value="${typeS.weight}" required/>
                                <input type="hidden" name="type" th:value="${typeS.type}"/>
                            </td>
                            <td class="td-img">
                                <label for="S">
                                    <input type="hidden" id="preFile-S" name="file" th:value="${typeS.file}">
                                    <input type="file" accept="image/*" class="io file-add" name="formFile" id="S" style="display: none" />
                                    <img id='preview-S' class="image-fit" th:src="${typeS.file != null} ? '/images/' + ${typeS.file} : ''" alt=" " />
                                </label>
                                <button type="button" class="file-del" id="use-baseimg-S" value="S">휘장 미사용</button>
                            </td>
                            <td>
                                <button disabled style="visibility: hidden;">X</button>
                            </td>
                        <tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div class="tbl-scroll">
                <fieldset>
                    <legend>상위비율 기준</legend>
                    <table class="tbl tbl-rate">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="typeR, stat : ${typeRList}" th:if="${typeR.type eq 'R'}">
                            <td>
                                <input class="io" name="tier" th:value="${typeR.tier}" required/>
                            </td>
                            <td>
                                <input class="io" name="weight" th:value="${typeR.weight}" th:readonly="${stat.count == 1}" required/>
                                <input class="io" type="hidden" name="type" th:value="${typeR.type}"/>
                            </td>

                            <td class="td-img">
                                <label th:for="'R' + ${stat.count}">
                                    <input type="hidden" th:id="'preFile-R' + ${stat.count}" name="file" th:value="${typeR.file}">
                                    <input type="file" accept="image/*" class="io file-add" name="formFile" th:id="'R' + ${stat.count}" style="display: none"/>
                                    <img class="image-fit" th:id="'preview-R' + ${stat.count}" th:src="${typeR.file != null} ? '/images/' + ${typeR.file} : ''" alt=" " />
                                </label>
                                <button type="button" class="file-del" th:id="'use-baseimg-R' + ${stat.count}" th:value="'R' + ${stat.count}">휘장 미사용</button>
                            </td>
                            <td>
                                <button type="button" class="row-del" th:value="'row-del-' + ${stat.count}" th:style="${stat.count == 1 ? 'visibility:hidden' : ''}">X</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button th:value="${std}" type="button" class="row-add"> 추가</button>
                </fieldset>
            </div>
            <div class='regInfo'>
                <p th:text="'최근 수정자: ' + ${typeS.regUserId}"></p>
                <p th:text="'최근 수정시간: ' + ${#temporals.format(typeS.regDttm, 'yyyy-MM-dd HH:mm:ss')}"></p>
            </div>

            <button id="form-apply" th:value="${std}">적용하기</button>
        </form>

    </div>

</section>
</body>
</html>
